<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Colegio Secundario "Juan Bautista Alberdi"</h2> - <h3>(2010-2015)</h3>
            </li>
            <p> Bachiller en Humanidades y Ciencias Sociales </p>
        </ul>
        <ul>
            <li>
                <h2>Facultad de Ciencias Exactas Quimicas y Naturales</h2> - <h3>(2016-actualidad)</h3>
            </li>
            <p>Ingenieria Quimica con orientación en Biotecnologia</p>
        </ul>

    </div>

</div>