<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Frescura Rocio del Valle</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-md-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Soy estudiante avanzada de Ingenieria Quimica, me encuentro rindiendo las últimas materias de mi carrera y realizando investigación debido a que gané, por concurso, una beca nacional. 
                En mis tiempos libres realizo el curso de "Yo Programo" ya que la programación es algo que me gusta además de ser muy útil y aplicable a cualquier ambito.
                Ademas de eso tambien realicé un curso de inglés basico.
            </p>
        </span>
    </div>
</div>

